Flask
Flask-Cors
Flask-Mail
Flask-MySQL
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
WTForms
Werkzeug
Jinja2
MarkupSafe
PyMySQL
pydantic==1.10.13
numpy
pandas
opencv-python
pillow
face-recognition
face_recognition_models
dlib
farm-haystack==1.26.2
sentence-transformers
scikit-learn
transformers
torch
tqdm
requests
python-dotenv
